/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  
  header {
    background-color: blue;
    color: white;
    padding: 1rem 0;
    text-align: center;
  }
  
  nav {
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0 1rem;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: red;
    background-color: darkblue;
    text-decoration: underline;
    transform: scale(1.1);
}
  main {
    padding: 2rem;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  h2 {
    text-align: center;
  }
  
  section {
    padding: 2em;
    margin: 1em 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  article {
    text-align: center;
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  article img {
    width: 25%;
    height: auto;
    border-radius: 5px;
  }
  
  footer {
    text-align: center;
    color: black;
    font-family: 'Courier New', monospace;
  }
  